body {
    width: 100%;
    margin: 0;
    font-size: 18px;
    color: rgb(192, 192, 192);
    background-color: rgb(37, 37, 37);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 4px rgb(255, 255, 255);
    transition: all 0.3s linear;
}

a:hover {
    color: silver;
}

h1 {
    font-size: 2em;
    text-align: center;
    color: black;
    text-shadow: 0 0 8px rgba(255, 255, 255, 1);
}

h2 {
    font-size: 1.5em;
    text-align: center;
    text-shadow: 0 0 8px rgba(255, 255, 255, 1);
}
p {
    text-align: center;
}

.container {
    margin: 0px auto;
    max-width: 1200px;
    height: 100%;
    background-image: url(img/fancy-cushion.png);
}

@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
    }
}




.button-up {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 2;

    width: 40px;
    height: 40px;
    border: 3px solid black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button-up:hover {
    border-color: white;
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 1);
}

/*HEADER*/

/*
.header-content {

}
*/


.mail-number {
    float: right;
    padding: 10px 10px 0 0;
    font-size: 0.8em;
}

.mail-number a {
    margin-left: 20px;
}



/*MAIN*/

.main-content {
    margin: 0 5%;
    width: 90%;
}

.main-nav {

    border-bottom: 1px solid rgba(192, 192, 192, 0.5);
}

nav {
    width: 15%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    border: 3px solid rgba(192, 192, 192, 0.8);
    box-shadow: inset 0 0 10px 8px rgba(192, 192, 192, 0.5);
}
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
}













/*FOOTER*/